{% extends 'base.html' %}
{% block title %}{{ title }} | DjangoSMS{% endblock title %}
{% load static %}

{% block content %}



<div class="container">

    <div id="input-nav"><a href="{% url 'home' %}" class="primary1">Домашняя </a>
        <a href="{% url 'programs' %}" class="primary1">Программы </a>
        <a href="{% url 'program_detail' course.program.id %}" class="primary1"> {{ course.program }}</a>
        {{ course }}
    </div>
    {% if request.user.is_superuser %}
    <div class="btn-flex">
        <a class="edit-btn" href="{% url 'edit_course' course.slug %}">
            <i class="fas fa-pencil-alt"></i><span class="mobile-hide">Изменить курс</span>
        </a>
    </div>
    {% endif %}

    <div class="manage-wrap">
        <div class="row">
            <div class="col ml-auto">
                {% if request.user.is_superuser or request.user.is_lecturer %}
               
                {% endif %}
            </div>
            <div class="col text-right">
                <a class="btn btn-lg btn-warning" href="{% url 'quiz_index' course.slug %}"><i class="fas fa-list"></i>
                    {% if request.user.is_superuser or request.user.is_lecturer %}
                        Добавить задание
                    {% else %}
                        Выполнить задание
                    {% endif %}
                </a>
            </div>
        </div>
    </div>

    <div class="title-1">{{ course }}</div>
   

    <p class="program-description">{{ course.summary|safe }}</p>

    
      <!--3d-->
    <div class="card">
    <div class="content3D" style="max-width: 100px;"></div>
    </div>

    {% if request.user.is_superuser %}
    <div class="btn-flex">
        <a class="edit-btn" href="{% url 'edit_course' course.slug %}">
            <i class="fas fa-pencil-alt"></i><span class="mobile-hide">Изменить курс</span>
        </a>
    </div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
        <i class="fas fa-exclamation-circle"></i>{{ message }}
    </div>
    {% else %}
    <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>{{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
<!--
    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">Видео уроки</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название видео</th>
                            <th>Дата добавления</th>
                            <th>Начать</th>
                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <th>Действие</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ video.get_absolute_url }}" title="{{ video }}">
                                    <i style="font-size: 20px; padding-right: 10px;" class="fas fa-video"></i>
                                    {{ video.title|title }}
                                </a>
                            </td>
                            <td>{{ video.timestamp|date }}</td>
                            <th>
                                <div>
                                    <a class="download-btn" href="{{ video.get_absolute_url }}"
                                        title="Download to your device">
                                        <i class="fas fa-download"></i>Начать</a>
                                </div>
                            </th>

                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_video_edit' slug=course.slug video_slug=video.slug %}"
                                        class="update" title="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_video_delete' slug=course.slug video_slug=video.slug %}"
                                        class="delete" title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}

                            {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    <i class="far fa-frown fa-1x"></i> Нет видео
                                    {% if request.user.is_superuser or request.user.is_lecturer %}
                                    <a href="{% url 'upload_video' course.slug %}">
                                        <i class="primary" style="font-size: 22px;">
                                            Загрузить.
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">Документация</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя файла</th>
                            <th>Дата загрузки</th>
                            <th>Дата обновления</th>
                            <th>Скачать</th>
                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <th>Действие</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ file.file.url }}" title="{{ file }}">
                                    <i style="font-size: 20px; padding-right: 10px;"
                                        class="fas fa-file-{{ file.get_extension_short }}"></i>
                                    {{ file.title|title }}
                                </a>
                            </td>
                            <td>{{ file.upload_time|date }}</td>
                            <td>{{ file.updated_date|date }}</td>
                            <th>
                                <div>
                                    <a class="download-btn" href="{{ file.file.url }}" title="Download to your device">
                                        <i class="fas fa-download"></i>Скачать</a>
                                </div>
                            </th>

                            {% if request.user.is_superuser or request.user.is_lecturer %}
                            <td>
                                <div class="update-delete">
                                    <a href="{% url 'upload_file_edit' slug=course.slug file_id=file.pk %}"
                                        class="update" title="Edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{% url 'upload_file_delete' slug=course.slug file_id=file.pk %}"
                                        class="delete" title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}

                            {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="text-danger">
                                    <i class="far fa-frown fa-1x"></i> Нет загруженных файлов.
                                    {% if request.user.is_superuser or request.user.is_lecturer %}
                                    <a href="{% url 'upload_file_view' course.slug %}">
                                        <i class="primary" style="font-size: 22px;">
                                            Upload now.
                                        </i>
                                        {% endif %}
                                    </a>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
-->
</div>

<div class="site-section">
    
    <br>
    <div class="container marketing">
        <div class="row">
            {% for lecturer in lecturers %}
            <div class="col-lg-4 mx-auto" style="background: transparent; box-shadow: none;">
                {% if lecturer.lecturer.picture %}
                <img class="" src="{{ lecturer.lecturer.picture.url }}" alt="" style="width:140px;">
                {% endif %}
                <h2>{{ lecturer|title }}</h2>
                <p style="color: #6c757d;">{{ lecturer.lecturer.email }}</p>
                <p>||</p>
                <p>
                    <a class="btn rounded-circle btn-secondary" href="#" role="button"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn rounded-circle btn-secondary" href="#" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn rounded-circle btn-secondary" href="#" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            {% endfor %}

        </div>
    </div>
</div>


<!--        3d ________________________________3d       -->

<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.139.0/build/three.module.js",
            "OrbitControls": "https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js",
            "GLTFLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/GLTFLoader.js",
            "RectAreaLightHelper": "https://unpkg.com/three@0.139.0/examples/jsm/helpers/RectAreaLightHelper.js",
            "RectAreaLightUniformsLib": "https://unpkg.com/three@0.139.0/examples/jsm/lights/RectAreaLightUniformsLib.js"
        }
    }
</script>

<script type="module">

    import * as THREE from 'three';
    import { OrbitControls } from 'OrbitControls';
    import { GLTFLoader } from 'GLTFLoader';
    import { RectAreaLightHelper } from 'RectAreaLightHelper'
    import { RectAreaLightUniformsLib } from 'RectAreaLightUniformsLib';

    function init() {
        let container = document.querySelector('.content3D');

        //Scene
        const scene = new THREE.Scene()
        scene.background = new THREE.Color("#fff");

        //Camera
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 500);
        camera.position.set(0, 0.5, 1)

        //render
        const renderer = new THREE.WebGLRenderer({antialias: true})
        renderer.setSize(600, 300)
        container.appendChild(renderer.domElement)

        let plain;
        {
            plain = new THREE.Mesh(
                new THREE.PlaneGeometry(500,500),
                new THREE.MeshBasicMaterial({color: "#fff"})
            )
            plain.reciveShadow = true;
            plain.position.set(0, -1, 0)
            plain.rotateX(-Math.PI / 2);
            scene.add(plain)
        }

        // Model
        {
            const loader = new GLTFLoader();
            loader.load("{% static 'model/scene.gltf' %}", gltf => { 
            scene.add(gltf.scene);
            }, 
                function (error) {
                    console.log('Error: ' + error)
                }
            )
        }
        
        {
            const light = new THREE.DirectionalLight(0xffffff, 1)
            light.position.set(-2, 0, 10)
            light.lookAt(0, -1, 0)
            scene.add(light)

            // Helper
            // const helper = new THREE.DirectionalLightHelper(light, 5)
            // scene.add(helper)
        }

        {
            const light = new THREE.DirectionalLight(0xffffff, 1)
            light.position.set(2, 0, 5)
            light.lookAt(0, 1, 0)
            scene.add(light)

            // Helper
            // const helper = new THREE.DirectionalLightHelper(light, 5)
            // scene.add(helper)
        }

        RectAreaLightUniformsLib.init();
        {
            const rectLight = new THREE.RectAreaLight(0xffffff, 1, 100, 100);
            rectLight.position.set(-10,0,0)
            rectLight.rotation.y = Math.PI + Math.PI/4;
            scene.add(rectLight)
        }

        {
            const rectLight = new THREE.RectAreaLight(0xffffff, 1, 100, 100);
            rectLight.position.set(10,0,0)
            rectLight.rotation.y = Math.PI - Math.PI/4;
            scene.add(rectLight)
        }
        
        //OrbitControls
        const controls = new OrbitControls(camera, renderer.domElement);
        controls.autoRotate = true;
        controls.autoRotateSpeed = 1;
        controls.enableDamping = true;

        //Resize
        window.addEventListener('resize', onWindowResize, false)
        
        function onWindowResize() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();

            renderer.setSize(window.innerWidth, window.innerHeight)
        }

        // Animate
        function animate() {
            requestAnimationFrame(animate)
            controls.update();
            renderer.render(scene, camera)
        }
        animate()

    }

    init()
</script>

{% endblock content %}