{% extends 'registration/registration_base.html' %}
{% block title %}Письмо отправлено | WebCG{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Письмо отправлено</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>На почту отправлено письмо с инструкциями
      чтобы сбросить пароль, проверьте свою электронную почту.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Вернуться на страницу авторизации</a>
  </div>
</div>
{% endblock content %}
